extends layout

block content
  h1= 'Add Staff'
  h2= message
  .form
    form(action="" method="POST")
      .form_input
        label(for="first_name") First name:
        input(type="first_name" name="first_name" id="first_name" required autofocus)
      .form_input
        label(for="last_name") Last name:
        input(type="last_name" name="last_name" id="last_name" required)
      .form_input
        label(for="rfid") Scan your booper:
        input(type="rfid" name="rfid" id="rfid" required)
      .form_input
        button(type="submit" class="button_small") ENTER
  button(type="button" class="button_small" onclick="downloadCSV()") DOWNLOAD
